
<div class="home-banner">
  <h1>Veille de cuite</h1>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail|%>
      <div class="card-cocktail col-2 m-3" style="background-image: url('https://source.unsplash.com/500x500/?cocktail')">
        <p class="card-cocktail-name">
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </p>
        <!-- <ul class="card-cocktail-ingredients">
          <% cocktail.ingredients.each do |ingredient| %>
            <li>
              <%= ingredient.name %>
            </li>
          <% end %>
        </ul> -->
      </div>
    <% end %>
  </div>

</div>

