
<div class="home-banner">
  <h1>Veille de cuite</h1>
</div>

<div class="container">
  <h2 class="text-center text-white mt-5">Find new ways to get a hangover!</p>
  <div class="d-flex flex-wrap justify-content-around">
    <% @cocktails.each do |cocktail|%>

      <% if cocktail.picture.attached? %>
        <%= render partial: "shared/card-cocktail", locals: { cocktail: cocktail, url: cl_image_path(cocktail.picture.key) }  %>
      <% else %>
        <%= render partial: "shared/card-cocktail", locals: { cocktail: cocktail, url: 'https://source.unsplash.com/500x500/?cocktail' } %>
      <% end %>

    <% end %>
  </div>

  <p class="mt-5" id="your-own">
    or
    <%= link_to "add", new_cocktail_path, class: "btn btn-warning mx-3" %>
    your own!
  </p>

</div>
