
<div class="card-cocktail m-3"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  url(<%= url %>)">
  <p class="card-cocktail-name">
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </p>
</div>
